<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011313648750-bt4r4aifu8ur0lvpls32q2704i8mdj6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011313648750-bt4r4aifu8ur0lvpls32q2704i8mdj6k</string>
	<key>API_KEY</key>
	<string>AIzaSyDCWsVfQT8pmSUTuPGBgOmfF9LxBSAYYOk</string>
	<key>GCM_SENDER_ID</key>
	<string>1011313648750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Check-Api</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirebase-accfd</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirebase-accfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011313648750:ios:96e3d355edd5cd65af727f</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativefirebase-accfd-default-rtdb.firebaseio.com</string>
</dict>
</plist>